* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    font-size: 10px;
}

/* px */
.px {
    width: 1000px;
    background-color: aqua;
    height: 500px;
}

/* pce */
.pce {
    width: 50%;
    height: 100%;
    /* % 부모의 상속을 받아 높이를 지정 */
    background-color: aquamarine;
    float: left;
}

.pce:nth-child(2) {
    background-color: blue;
}

@media screen and (max-width:1024px) {
    .pce {
        width: 100%;
    }
}

/* vh, vw */
.vw{
    width: 50vw;
    height: 100vh;
    background-color: coral;
}

@media screen and (max-width:767px){
    .vw{
        width: 80vw;
        height: 50vh;
    }
}

#all{font-size: 20px;}
/* em, rem - 기준이 없을 떄 16px*/
.em{font-size: 2em;} /* 20 * 2 = 40*/
.rem{font-size: 2rem;} /* 10 * 2 = 40*/
